<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>form</title>
</head>
<body>
<form th:action="@{/register}" th:object="${user}" method="post">
    <label for="username">username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    <label for="email">email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <button type="submit">Submit</button>
</form>
</body>
</html>